openapi: 3.0.3
info:
  title: Gommo API (documented via AI Gateway)
  description: |
    **Public Gommo API** — primary integration surface (79ai-style).

    - `https://v2.api.gommo.net` — jobs, models, upload, album library
    - `https://api.gommo.net` — auth, chat, audio, info, library lists

    Optional **AI Gateway** (`http://localhost:3001`) wraps Mode B REST (`/gateway/*`), billing, and admin for local dev.
    See docs/reference/gommo-public-api.md
  version: 0.2.0
  contact:
    url: https://github.com/bruno-hao97/ai-gateway

servers:
  - url: https://v2.api.gommo.net
    description: Gommo V2 — jobs, models, upload, albums
  - url: https://api.gommo.net
    description: Gommo platform — auth, chat, audio, info, library
  - url: http://localhost:3001
    description: AI Gateway dev (Mode B REST, billing, admin)

tags:
  - name: Gommo V2
    description: Public API on v2.api.gommo.net
  - name: Gommo Platform
    description: Public API on api.gommo.net
  - name: Health
  - name: OpenAI
  - name: Gateway Dev
    description: AI Gateway Mode B — localhost only
  - name: Billing
  - name: Admin

x-gommo-hosts:
  v2: https://v2.api.gommo.net
  auth: https://api.gommo.net

paths:
  /health:
    get:
      tags: [Health]
      servers:
        - url: http://localhost:3001
      summary: Health check (AI Gateway)
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /ai/models:
    get:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: List models by job type
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            example: image
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model catalog
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: List models (form body)
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                type:
                  type: string
                domain:
                  type: string
                  example: 79ai.net
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model catalog

  /ai/jobs/{type}/{modelSlug}:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Create media job (form-urlencoded)
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            example: image
        - name: modelSlug
          in: path
          required: true
          schema:
            type: string
            example: flux-dev
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                domain:
                  type: string
                prompt:
                  type: string
                ratio:
                  type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Job created

  /ai/jobs/{id}:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Poll job status
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: media
          in: query
          required: true
          schema:
            type: string
            enum: [image, video, music]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Job status

  /ai/upload/image:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Upload image
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload URL

  /ai/upload/video:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Upload video
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload URL

  /ai/library/album-images:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Image album list
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                domain:
                  type: string
                project_id:
                  type: string
                  example: default
                limit:
                  type: integer
                  example: 30
                order_by:
                  type: string
                sort_by:
                  type: string
      responses:
        '200':
          description: Album images

  /ai/library/album-videos:
    post:
      tags: [Gommo V2]
      servers:
        - url: https://v2.api.gommo.net
      summary: Video album list
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                domain:
                  type: string
                project_id:
                  type: string
                  example: default
                limit:
                  type: integer
                  example: 30
                order_by:
                  type: string
                sort_by:
                  type: string
      responses:
        '200':
          description: Album videos

  /ai/info/image/{id}:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Image job info
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Image status

  /ai/info/video/{id}:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Video job info
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Video status

  /ai/library/musics:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://v2.api.gommo.net
      summary: Music library list
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Music list

  /ai/library/audios:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://v2.api.gommo.net
      summary: Audio library list
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Audio list

  /api/v2/chat:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Chat or stream
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: JSON or SSE

  /ai/audio:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Platform audio (voices, TTS)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Audio response

  /ai/me:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Profile and credits
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                access_token:
                  type: string
                domain:
                  type: string
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile

  /api/apps/go-mmo/auth/login:
    post:
      tags: [Gommo Platform]
      servers:
        - url: https://api.gommo.net
      summary: Login (form)
      security: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
                domain:
                  type: string
      responses:
        '200':
          description: access_token

  /v1/models:
    get:
      tags: [OpenAI]
      servers:
        - url: http://localhost:3001
      summary: List chat models (OpenAI-compatible)
      description: Returns configured Gommo chat model as an OpenAI-style model list.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        object:
                          type: string
                        owned_by:
                          type: string

  /v1/chat/completions:
    post:
      tags: [OpenAI]
      servers:
        - url: http://localhost:3001
      summary: Chat completions (OpenAI-compatible)
      description: |
        OpenAI-compatible chat endpoint mapped to Gommo upstream chat.
        Use `model` as `gpt-5.5::cheap` (model::server) or rely on server defaults.
        Set `stream: true` for SSE chunks in OpenAI format.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                model:
                  type: string
                  example: gpt-5.5::cheap
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role:
                        type: string
                        enum: [system, user, assistant, developer, tool]
                      content:
                        oneOf:
                          - type: string
                          - type: array
                stream:
                  type: boolean
                  default: false
      responses:
        '200':
          description: JSON completion or SSE stream (OpenAI format)

  /gateway/auth/login:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Login with Gommo email and password
      description: |
        Returns a Gommo `access_token` for `Authorization: Bearer` on `/gateway/*`.
        `domain` is optional — server uses `GOMMO_API_DOMAIN` when omitted.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthLoginRequest'
      responses:
        '200':
          description: Login success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '401':
          description: Invalid credentials

  /gateway/auth/register:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Register Gommo user
      description: |
        Creates a Gommo account via merchant credentials on the server
        (`GOMMO_ACCESS_TOKEN`, `GOMMO_MANAGER_ID`). Returns `access_token` on success.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRegisterRequest'
      responses:
        '200':
          description: Registration success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
        '400':
          description: Validation error
        '502':
          description: Upstream registration error

  /gateway/models:
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: List models by type (public catalog — Bearer optional)
      description: |
        OpenRouter-style public browse. No Authorization required when upstream allows it;
        gateway may fall back to server merchant token. Create jobs still require Bearer.
      security: []
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            example: image
        - name: lang
          in: query
          required: false
          description: |
            `en` merges English descriptions from `cache/catalog-descriptions.en.json`.
            Warm cache offline with `npm run catalog:translate` (Gommo chat + `GOMMO_ACCESS_TOKEN`).
            Live translate on cache miss only when `CATALOG_TRANSLATE_ON_REQUEST=true`.
            Omit or `vi` returns upstream Vietnamese text only.
          schema:
            type: string
            enum: [en, vi]
            example: en
      responses:
        '200':
          description: Model catalog
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /gateway/jobs/{segment}:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Create media job (segment = job type)
      security:
        - bearerAuth: []
      parameters:
        - name: segment
          in: path
          required: true
          description: Job type — `image`, `video`, `music`, `tts`, tool types, …
          schema:
            type: string
            example: image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateJobRequest'
      responses:
        '200':
          description: Job created or completed (wait=true)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Poll job status (segment = job id)
      security:
        - bearerAuth: []
      parameters:
        - name: segment
          in: path
          required: true
          description: Job id from create response (`id_base`, `job_id`, …)
          schema:
            type: string
        - name: media
          in: query
          required: true
          schema:
            type: string
            enum: [image, video, music]
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /gateway/upload/image:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Upload image
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /gateway/upload/video:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Upload video
      security:
        - bearerAuth: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                video_file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Upload URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessEnvelope'

  /gateway/chat:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Chat agent or stream
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: JSON or SSE stream

  /gateway/audio/voices:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Search voices
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                server:
                  type: string
                page:
                  type: integer
      responses:
        '200':
          description: Voice list

  /gateway/audio/tts:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Text-to-speech
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [text, voice_id, server]
              properties:
                text:
                  type: string
                voice_id:
                  type: string
                server:
                  type: string
                model:
                  type: string
      responses:
        '200':
          description: TTS file URL

  /gateway/audio/lists:
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Audio history
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Audio lists

  /gateway/usage/stats:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage statistics (79ai-style, preferred)
      description: |
        Aggregated usage from Gommo `POST /api/v2/usage-history` with `action=stats`.
        Send `device_id`, `device_name`, `device_info` in form body (like 79ai).
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                period:
                  type: string
                  enum: [7d, 30d, 90d]
                type:
                  type: string
                  enum: [all, image, video, audio, music]
                language:
                  type: string
                  default: vi
                domain:
                  type: string
                device_id:
                  type: string
                device_name:
                  type: string
                device_info:
                  type: string
      responses:
        '200':
          description: Usage stats (summary, chart, table)
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage statistics (79ai-style)
      description: |
        Aggregated usage from Gommo `POST /api/v2/usage-history` with `action=stats`.
        Returns summary, chart series, and daily table — same data as 79ai Usage History.
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d]
            default: 30d
        - name: type
          in: query
          schema:
            type: string
            enum: [all, image, video, audio, music]
            default: all
        - name: language
          in: query
          schema:
            type: string
            default: vi
        - name: device_id
          in: query
          description: Browser device id (forwarded to Gommo usage-history)
          schema:
            type: string
        - name: device_name
          in: query
          schema:
            type: string
        - name: device_info
          in: query
          schema:
            type: string
        - name: domain
          in: query
          schema:
            type: string
        - name: projectId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Usage stats (summary, chart, table)

  /gateway/usage/logs:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage job logs (79ai items table)
      description: |
        Per-job rows from Gommo `POST /api/v2/usage-history` with `action=logs`.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                period:
                  type: string
                  enum: [7d, 30d, 90d]
                type:
                  type: string
                language:
                  type: string
                  default: vi
                limit:
                  type: integer
                  default: 30
                page:
                  type: integer
                domain:
                  type: string
                device_id:
                  type: string
                device_name:
                  type: string
                device_info:
                  type: string
      responses:
        '200':
          description: Usage log items
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage job logs (query params)
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d]
        - name: type
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
        - name: page
          in: query
          schema:
            type: integer
        - name: domain
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Usage log items

  /gateway/usage/list:
    post:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage job list (deprecated — use /usage/logs)
      deprecated: true
      description: |
        Alias for `/gateway/usage/logs`. Gommo uses `action=logs`, not `list`.
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                period:
                  type: string
                  enum: [7d, 30d, 90d]
                type:
                  type: string
                language:
                  type: string
                page:
                  type: integer
                limit:
                  type: integer
                domain:
                  type: string
                device_id:
                  type: string
                device_name:
                  type: string
                device_info:
                  type: string
      responses:
        '200':
          description: Usage list items
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage job list (query params)
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d]
        - name: type
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
        - name: domain
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Usage list items

  /gateway/usage/history:
    get:
      tags: [Gateway Dev]
      servers:
        - url: http://localhost:3001
      summary: Usage history (deprecated — use /usage/logs)
      deprecated: true
      description: Alias for `/gateway/usage/logs` (Gommo usage-history action=logs).
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [all, image, video]
            default: all
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100
        - name: projectId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Usage records

  /billing/status:
    get:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Billing configuration status
      description: |
        Returns Gommo payment availability (`gommoPayment`, `billingMode`),
        legacy PayOS flags, and merchant readiness.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Status flags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillingStatusResponse'

  /billing/packages:
    get:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Credit packages
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Package list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditPackagesResponse'

  /billing/payment/create:
    post:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Create Gommo VietQR payment (default top-up)
      description: |
        Proxies Gommo `subscriptions/create_payment`. Persists a local order with
        `source: gommo`. Returns QR image, bank transfer details, and VAT breakdown.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GommoPaymentCreateRequest'
      responses:
        '200':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GommoPaymentCreateResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing or invalid Bearer
        '403':
          description: Username does not match token
        '502':
          description: Upstream Gommo error

  /billing/payment/sync:
    post:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Sync Gommo payment status
      description: |
        Proxies Gommo `subscriptions/payment_sync`. When `paid` is true, marks the
        local top-up order as credited.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GommoPaymentSyncRequest'
      responses:
        '200':
          description: Sync result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GommoPaymentSyncResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
        '401':
          description: Missing or invalid Bearer
        '502':
          description: Upstream Gommo error

  /billing/topup/create:
    post:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Create PayOS topup order (legacy)
      deprecated: true
      description: Legacy PayOS checkout. Prefer `/billing/payment/create` (Gommo VietQR).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, packageId]
              properties:
                username:
                  type: string
                packageId:
                  type: string
      responses:
        '200':
          description: Checkout URL and orderCode

  /billing/topup/orders:
    get:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: List topup orders for signed-in user
      security:
        - bearerAuth: []
      parameters:
        - name: username
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: Order list (newest first)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TopupOrder'
        '401':
          description: Missing or invalid Bearer
        '403':
          description: Username does not match token

  /billing/topup/orders/{orderCode}:
    get:
      tags: [Billing]
      servers:
        - url: http://localhost:3001
      summary: Get order status
      security:
        - bearerAuth: []
      parameters:
        - name: orderCode
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/TopupOrder'

  /admin/merchant/balance:
    get:
      tags: [Admin]
      servers:
        - url: http://localhost:3001
      summary: Merchant balance
      security:
        - adminKey: []
      responses:
        '200':
          description: Balance

  /admin/credits/send:
    post:
      tags: [Admin]
      servers:
        - url: http://localhost:3001
      summary: Send credits to user
      security:
        - adminKey: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [username, value]
              properties:
                username:
                  type: string
                value:
                  type: number
                message:
                  type: string
                type:
                  type: string
      responses:
        '200':
          description: Credits sent

  /admin/users/register:
    post:
      tags: [Admin]
      servers:
        - url: http://localhost:3001
      summary: Register Gommo user (merchant)
      security:
        - adminKey: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
                phone:
                  type: string
      responses:
        '200':
          description: User registered

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Gommo access_token
    adminKey:
      type: apiKey
      in: header
      name: x-admin-key

  schemas:
    AuthLoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        domain:
          type: string
          description: Optional Gommo domain; server default when omitted

    AuthRegisterRequest:
      type: object
      required: [email, password, phone]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
        phone:
          type: string
        name:
          type: string
        note:
          type: string

    AuthTokenResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            access_token:
              type: string
        message:
          type: string

    HealthResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            ok:
              type: boolean
            merchantConfigured:
              type: boolean
            adminConfigured:
              type: boolean

    SuccessEnvelope:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
        message:
          type: string
        code:
          type: string

    ErrorEnvelope:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
        code:
          type: string
          enum:
            - UNAUTHORIZED
            - FORBIDDEN
            - VALIDATION_ERROR
            - NOT_CONFIGURED
            - UPSTREAM_ERROR
            - RATE_LIMITED
            - INSUFFICIENT_CREDITS
            - INTERNAL_ERROR

    CreateJobRequest:
      type: object
      required: [modelSlug, fields]
      properties:
        modelSlug:
          type: string
        wait:
          type: boolean
          default: false
        fields:
          type: object
          additionalProperties: true

    ChatRequest:
      type: object
      required: [action, messages]
      properties:
        action:
          type: string
          enum: [chat, stream, set_model]
        query:
          type: string
        sessionId:
          type: string
        messages:
          type: array
          items:
            type: object
            properties:
              role:
                type: string
              text:
                type: string

    CreditPackage:
      type: object
      required: [id, gommoIdBase, name, amountVnd, credits, bonusPercent]
      properties:
        id:
          type: string
          example: basic-member
        gommoIdBase:
          type: string
          description: Gommo `id_base` for create_payment
          example: credit-basic
        name:
          type: string
          example: BASIC - MEMBER
        amountVnd:
          type: integer
          description: Pre-VAT plan price (79ai priceVND on /prices)
        credits:
          type: integer
          example: 50000
        bonusPercent:
          type: integer
          example: 0
        featured:
          type: boolean
          example: false

    CreditPackagesResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreditPackage'

    BillingStatusResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            gommoPayment:
              type: boolean
              example: true
            billingMode:
              type: string
              enum: [gommo, legacy]
              example: gommo
            payosConfigured:
              type: boolean
            merchantReady:
              type: boolean
            webhookUrl:
              type: string
              nullable: true
            returnUrl:
              type: string
              nullable: true

    InvoiceBuyer:
      type: object
      required: [type, name]
      properties:
        type:
          type: string
          enum: [consumer, personal, company]
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        address:
          type: string
        national_id:
          type: string
        tax_code:
          type: string
        gui_name:
          type: string
        referral_code:
          type: string

    GommoPaymentCreateRequest:
      type: object
      required: [username, packageId]
      properties:
        username:
          type: string
          description: Gommo username — must match Bearer token identity
        packageId:
          type: string
          example: ultra-member
        invoiceBuyer:
          $ref: '#/components/schemas/InvoiceBuyer'
        promoCode:
          type: string
        referralCode:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        device_info:
          type: string
          description: JSON string forwarded to Gommo

    GommoPaymentResult:
      type: object
      properties:
        url:
          type: string
        orderCode:
          type: string
          example: SP1234567890
        content:
          type: string
          description: Bank transfer memo
        amountVnd:
          type: integer
        amountBaseVnd:
          type: integer
        vatAmountVnd:
          type: integer
        vatPercent:
          type: integer
          example: 5
        qrImage:
          type: string
        qrFallback:
          type: string
        gateway:
          type: string
        paymentServer:
          type: string
        bank:
          type: string
        acc:
          type: string
        holder:
          type: string
        store:
          type: string
        packageId:
          type: string
        credits:
          type: integer

    GommoPaymentCreateResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          $ref: '#/components/schemas/GommoPaymentResult'

    GommoPaymentSyncRequest:
      type: object
      required: [orderCode]
      properties:
        orderCode:
          type: string
        device_id:
          type: string
        device_name:
          type: string
        device_info:
          type: string

    GommoPaymentSyncResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            paid:
              type: boolean
            orderCode:
              type: string
            deposit:
              type: object
              additionalProperties: true
            sync:
              type: object
              additionalProperties: true

    TopupOrder:
      type: object
      properties:
        orderCode:
          type: string
        username:
          type: string
        packageId:
          type: string
        amountVnd:
          type: integer
        credits:
          type: integer
        status:
          type: string
          enum: [pending, paid, credited, failed]
        source:
          type: string
          enum: [gommo, payos]
        createdAt:
          type: string
          format: date-time
        paidAt:
          type: string
          format: date-time
        creditedAt:
          type: string
          format: date-time
